[Unit]
Description=certificate-updater
After=syslog.target
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /opt/certificate-updater/certificate-updater.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=certificate-updater
WorkingDirectory=/opt/certificate-updater

[Install]
WantedBy=multi-user.target